

#main-container {
  height: calc(80vh - 50px);

}

header {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

.logo{
  height: 150px;
  width: auto;
  margin-left: 10%;
}
header h1 {
  margin-right: 30%;
  color: #9353fe;
  font-weight: 500;
  letter-spacing: 0.0625em;
}


.two-thirds-col {
  background-color: #ff4447;
  overflow: hidden;
}


.ui-datepicker {
  width: 12rem;
  height: 12rem;
  margin-left: 50px;
  background-color: rgb(199, 199, 199);
}
.ui-icon {
  width: 16px;
  height: 16px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  padding: 10px 5px !important;
}

.ui-datepicker-prev {
  padding: 10px 10px 25px 10px;
}
.ui-datepicker-next {
  padding: 10px 10px 25px 10px;
}

#search-box-container {
  border-radius: 0%;
}

.is-active a {
  background-color: #f5f5f5 !important;
  color: #003ea2 !important;
}

#search-history-items div:hover {
  background-color: rgb(242, 242, 242);
}

/* Events Display Styles */
.display-events {
  height: 70vh;
  overflow: scroll;
}

.event-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.event-content {
  width: 400px;
}

.event-desc {
  font-size: 15px;
}

#book-btn {
  color: #f5f5f5;
}

.cardItems {
  /* Add shadows to create the "card" effect */
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px 0px 10px 0px;
}

/* On mouse-over, add a deeper shadow */
.cardItems:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}


/* ----------------------media queries---------------------- */
@media only screen and (max-width: 750px) {
  .footer {
    display: none;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   
   .logo{
     height: 150px;
     width: auto;
     margin: 10px 0;
     
   }

   header h1 {
    color: #9353fe;
    font-weight: 500;
    letter-spacing: 0.0625em;
    text-align: center;
    margin: 0;
  }

  .event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .event-content {
    padding: 10px 0;
  }
}
