/* * {
    border: 1px solid red;
} */

#search-box-container {
    border-radius: 0%;
}


.is-active a {
    background-color: #F5F5F5 !important;
    color: #003ea2 !important;
}

#search-history-items div:hover {
    background-color: rgb(242,242,242);
}

